@import '../tools/utils';
@import '../var';
.header {
	transition: background .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:hover,
	&:active {
		background: $header-focus-bg;
	}
	&:hover .profile,
	&:active .profile {
		background-image: linear-gradient(-45deg, transparent 35%, $header-ribbon-outer-color 35%,
							$header-ribbon-outer-color 50%, $header-ribbon-active-inner-color 50%,
							$header-ribbon-active-inner-color 60%, $header-ribbon-outer-color 60%,
							$header-ribbon-outer-color 75%, transparent 75%, transparent);
	}
}
.profile {
	overflow: hidden;
	background-image: linear-gradient(-45deg, transparent 35%, $header-ribbon-outer-color 35%,
                        $header-ribbon-outer-color 50%, $header-ribbon-inner-color 50%,
						$header-ribbon-inner-color 60%, $header-ribbon-outer-color 60%,
                        $header-ribbon-outer-color 75%, transparent 75%, transparent);
	background-repeat: no-repeat;
	background-size: $header-ribbon-w 100%;
}
.profile-avatar {
	display: inline-block;
	width: $header-avatar-w; height: $header-avatar-w;
	margin: p2e(50) p2e(25) p2e(30) p2e(100);
	border-radius: $header-avatar-w / 2;
	vertical-align: middle;
	overflow: hidden;
	transition: transform .4s cubic-bezier(.95,-0.39,0,1.45);

	&:hover,
	&:active {
		transform: scale(1.3);
	}
}
.profile-avatar__photo {
	width: 100%;
}

.profile-info {
	display: inline-block;
	margin: p2e(50) 0 p2e(30);
	vertical-align: middle;
	overflow: hidden;
}
.profile-info__name,
.profile-info__title {
	margin: $header-profile-info-margin 0;
}
.profile-info__name {
	font-size: 200%;
	line-height: 1.1;
	letter-spacing: p2e(5);
}
.profile-info__title {
	font-size: 120%;
	font-weight: bold;
	letter-spacing: p2e(2);
}

.profile-info__graduate-info,
.profile-info__contact-way,
.profile-info__website,
.profile-info__work-for,
.profile-info__website-link {
	margin: $header-profile-info-margin / 2 0;
	font-size: 90%;
	color: $header-profile-info-color;
}
.profile-info__website-link {
	&:link { color: $header-profile-info-color; }
	&:visited { color: $header-profile-info-color; }
	&:hover { color: $base-font-color; text-decoration: underline; }
	&:active { color: $header-profile-info-color; }
	text-decoration: none;
}

@media (max-width: $small-show-limit) {
	.profile {
		background-size: $header-ribbon-small-show-w 100%;
	}
	.profile-avatar,
	.profile-info {
		display: block;
	}
	.profile-avatar {
		margin: p2e(50) auto 0;
	}
	.profile-info {
		margin: p2e(30) auto;
		text-align: center;
	}
}