@import '../tools/utils';
@import '../var';

.intro {
    overflow: hidden;
    padding: $block-padding;
    color: $base-font-color;
    transition: background-color .5s;
    &:hover,
    &:active,
    &:focus {
        background-color: $intro-focus-bg;
    }
}
.intro__title {
    font-size: 180%;
}

.intro__detail {
    padding-left: p2e(16);
    border-left: solid 5px;
    line-height: 1.5;
    &::before {
        padding: p2e(10);
        font-family: "FontAwesome";
        line-height: 1.1;
        content: "\f10d";
        font-size: p2e(24);
    }
}