@import './_utils';
.contact {
    overflow: hidden;
    padding: p2e(40);
    background: #191919;
}
.contact__label,
.contact__sender,
.contact__subject,
.contact__message,
.contact__submit {
    color: #fcfdff;
}
.contact__label {
    display: inline-block;
    width: 15%;
}
.contact__fill-item {
    display:table;  /* 调教webkit*/
    word-spacing:-1em;
    width: 100%;
}
.contact__sender,
.contact__subject,
.contact__message {
    padding: 18px 20px;
    background: #373233;
    margin-bottom: 42px;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 80%;
    word-spacing: 0;

    &:focus {
        background-color: #11ABB0;
    }
}
.contact__message {
    resize: none;
    vertical-align: top;
}
.contact__label_message {
    margin-top: p2e(16);
}
.contact__submit {
    padding: p2e(16);
    border: none;
    background: #0D0D0D;
    font-size: p2e(16);
    margin-left: 15%;

    &:hover,
    &:active {
        background-color: #fcfdff;
        color: #0D0D0D;
    }
}
@media (max-width: 600px) {
    .contact__label {
        display: block;
        width: auto;
        margin-bottom: p2e(16);
    }
    .contact__sender,
    .contact__subject,
    .contact__message {
        width: 100%;
    }
    .contact__label_message {
        margin-top: 0;
    }
    .contact__submit {
        margin-left: 0;
    }
}