@import './tools/utils';
@import './var';

html { font-size: $root-font-size; }
body {
    margin: 0;
    color: $base-font-color;
    background-color: $base-body-bg-color;
}
* { box-sizing: border-box; }
.header,
.skillset,
.exper,
.intro {
    margin-bottom: p2e(1);
}
.header,
.skillset,
.exper,
.intro,
.footer {
    background-color: $base-bg-color;
}