@import './_utils';
@import './var';

.intro {
    overflow: hidden;
    padding: $block-padding;
    color: $base-font-color;
    transition: background-color .5s;
    &:hover,
    &:active {
        background-color: $intro-focus-bg;
    }
}
.intro__title {
    font-size: 180%;
}

.intro__detail {
    position: relative;
    padding-left: p2e(72);
    line-height: 1.5;
    &::before {
        position: absolute;
        left: p2e(16);
        font-family: 'FontAwesome';
        line-height: 1.1;
        content: "\f10d";
        font-size: p2e(24);
    }
}