@import './_utils';

/* Global Var */
$base-body-bg-color: #787D7B;
$base-font-color: #fefcfc;
$base-bg-color: #0D0D0D;
$base-focus-color: #020300;
$small-show-limit: 600px;
$block-head-margin: p2e(32) 0;
$block-padding: 0 p2e(40);

@mixin remove-block-word-space() {
    display:table;  /* 调教webkit*/
    word-spacing:-1em;
}

/* Header Var */
$header-focus-bg: #4bbcff;
$header-ribbon-inner-color: rgb(79, 79, 72);
$header-ribbon-outer-color: rgba(255, 255, 255, .2);
$header-ribbon-active-inner-color: rgb(0, 98, 132);
$header-ribbon-w: p2e(450);
$header-ribbon-small-show-w: p2e(600);
$header-avatar-w: p2e(140);
$header-profile-info-margin: p2e(8);

/* Skillset Var */
$skillset-focus-bg: #47aaff;
$skillset-item-bar-color: rgba(255, 255, 255, .3);
$skillset-item-icon-w: p2e(24);

/* Experience Var */
$exper-focus-bg: #81C7D4;
$exper-focus-color: #336774;
$exper-card-hole-w: p2e(16);