@import "//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css";

// variables
$outlineFontColor: #00A3CF;
$bubbleIconWidth: 4rem;

// -------------src----------------------------
.self-font {
	font-family: 'Dancing Script', fantasy, serif;
}

.outline {
	font-size: 150%;
	color: $outlineFontColor;
}
.grey-outline {
	font-size: 150%;
	color: grey;
}
.bubble-icon {
	float: left;
	width: $bubbleIconWidth;
	height: $bubbleIconWidth;
	padding-top: $bubbleIconWidth / 2 - 0.75rem;
	border-radius: 50%;
	background-color: black;
	color: white;
	text-align: center;
}

// --------------------------------------------------
h2 {
	border-bottom: 2px solid #ccc;
}
ul {
	padding-left: 0;

}

.personal-info-list {
	font-weight: 600;
	line-height: 1.2rem;
	list-style-type: none;
	i {
		float: left;
	}
	p {
		padding-left: 2rem;
	}
}

.contact {
	margin-bottom: 1rem;
}

.detail {
	margin-bottom: 1rem;
	span {
		display: block;
		font-weight: bold;
	}
}
.contact-detail {
	padding-left: $bubbleIconWidth + 1rem;
}

#skills {
	display: block;
	margin: auto;
}