@import '../tools/utils';
@import '../var';

.exper {
    overflow: hidden;
    padding: $block-padding;
    transition: background-color .2s, color .5s;
    &:hover,
    &:active {
        background-color: $exper-focus-bg;
        color: $exper-focus-color;
    }
}
.exper__header {
    margin: p2e(32) 0;
}
.exper__title {
    font-size: 180%;
    margin: 0;
    color: $base-font-color;
}

.exper-item__wrapper {
    position: relative;
    box-sizing: border-box;
    padding: p2e(16);
    margin: 0 1% 5%;
    border-radius: p2e(16);
    background-color: rgba(255, 255, 255, .2);
    transition: color .5s;
    overflow: hidden;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: $exper-card-hole-w / 2;
        left: $exper-card-hole-w / 2;
        width: $exper-card-hole-w; height: $exper-card-hole-w;
        border-radius: $exper-card-hole-w / 2;
        background-color: #fff;
        transition: background-color .5s;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: p2e(-160);
        bottom: 0;
        width: p2e(160);
        background-image: -webkit-linear-gradient(0deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.5),hsla(0,0%,100%,0));
        transform: skewx(-25deg);
    }
    &:hover::after {
        transition: left 1s;
        left: 100%;
    }
    &:hover::before {
        background-color: $base-focus-color;
    }
}
.exper-item:hover .exper-item__wrapper,
.exper-item:active .exper_item__wrapper {
    color: $base-focus-color;
}
.exper-item__title {
    margin: p2e(24) 0 p2e(8);
}
.exper-item__name {
    font-size: 150%;
    margin-right: p2e(5);
}
.exper-item__type {
    font-size: 70%;
}
.exper-item__desc {
    padding-left: p2e(32);
    margin-top: p2e(8);
}
@media (min-width: 600px) {
    .exper__show {
        @include remove-block-word-space;
    }
    .exper-item {
        display: inline-block;
        width: 48%;
        margin: 0 1% 1%;
        vertical-align: top;
        word-spacing: 0;
    }
}
