@charset "UTF-8";
/* Global Var */
/* Header Var */
/* Skillset Var */
/* Experience Var */
/* Introduction Var */
/* Footer Var */
/* line 4, ../../sass/parts/experiences.scss */
.exper {
  overflow: hidden;
  padding: 0 2.5rem;
  transition: background-color .2s, color .5s;
}
/* line 8, ../../sass/parts/experiences.scss */
.exper:hover, .exper:active {
  background-color: #7DB9DE;
  color: #336774;
}

/* line 14, ../../sass/parts/experiences.scss */
.exper__header {
  margin: 2rem 0;
}

/* line 17, ../../sass/parts/experiences.scss */
.exper__title {
  font-size: 180%;
  margin: 0;
  color: #fefcfc;
}

/* line 23, ../../sass/parts/experiences.scss */
.exper-item__wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 1% 5%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: color .5s;
  overflow: hidden;
  cursor: pointer;
}
/* line 33, ../../sass/parts/experiences.scss */
.exper-item__wrapper::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color .5s;
}
/* line 43, ../../sass/parts/experiences.scss */
.exper-item__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: -10rem;
  bottom: 0;
  width: 10rem;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform: skewx(-25deg);
}
/* line 53, ../../sass/parts/experiences.scss */
.exper-item__wrapper:hover::after {
  transition: left 1s;
  left: 100%;
}
/* line 57, ../../sass/parts/experiences.scss */
.exper-item__wrapper:hover::before {
  background-color: #020300;
}

/* line 61, ../../sass/parts/experiences.scss */
.exper-item:hover .exper-item__wrapper,
.exper-item:active .exper_item__wrapper {
  color: #020300;
}

/* line 65, ../../sass/parts/experiences.scss */
.exper-item__title {
  margin: 1.5rem 0 0.5rem;
}

/* line 68, ../../sass/parts/experiences.scss */
.exper-item__name {
  font-size: 150%;
  margin-right: 0.3125rem;
}

/* line 72, ../../sass/parts/experiences.scss */
.exper-item__type {
  font-size: 70%;
}

/* line 75, ../../sass/parts/experiences.scss */
.exper-item__desc {
  padding-left: 2rem;
  margin-top: 0.5rem;
}

@media (min-width: 600px) {
  /* line 80, ../../sass/parts/experiences.scss */
  .exper__show {
    display: table;
    /* 调教webkit*/
    word-spacing: -1em;
  }

  /* line 83, ../../sass/parts/experiences.scss */
  .exper-item {
    display: inline-block;
    width: 48%;
    margin: 0 1% 1%;
    vertical-align: top;
    word-spacing: 0;
  }
}
