@charset "UTF-8";
/* Global Var */
/* Header Var */
/* Skillset Var */
/* Experience Var */
/* Introduction Var */
/* Footer Var */
/* line 3, ../../sass/parts/skills.scss */
.i-empty {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 12, ../../sass/parts/skills.scss */
.i-empty::before {
  content: "∅";
}

/* line 17, ../../sass/parts/skills.scss */
.skillset {
  overflow: auto;
  transition: background-color .5s ease;
}
/* line 20, ../../sass/parts/skills.scss */
.skillset:hover, .skillset:active {
  background-color: #47aaff;
}
/* line 24, ../../sass/parts/skills.scss */
.skillset:hover .skillset__header, .skillset:active .skillset__header {
  font-size: 120%;
}

/* line 29, ../../sass/parts/skills.scss */
.skillset__header {
  margin: 2rem 0;
  padding: 0 2.5rem;
  transition: font-size .5s ease;
}

/* line 34, ../../sass/parts/skills.scss */
.skillset__title,
.skillset__desc {
  margin: 0;
}

/* line 38, ../../sass/parts/skills.scss */
.skillset__title {
  font-size: 180%;
}

/* line 41, ../../sass/parts/skills.scss */
.skillset__desc {
  font-size: 80%;
}

/* line 45, ../../sass/parts/skills.scss */
.skill-item {
  margin-bottom: 1rem;
  padding: 0 0.625rem 0 2.5rem;
  transition: color .5s ease;
  cursor: pointer;
}
/* line 50, ../../sass/parts/skills.scss */
.skill-item:hover, .skill-item:active {
  color: #020300;
}
/* line 54, ../../sass/parts/skills.scss */
.skill-item:hover .skill-item__bar, .skill-item:active .skill-item__bar {
  background-color: rgba(0, 0, 0, 0.3);
  background-position: 100% 0%;
  background-size: 200%;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 0.9375rem, transparent 0, transparent 1.875rem);
  animation: moveline 3s linear infinite;
}

@keyframes moveline {
  to {
    background-position: 0% 0%;
  }
}
/* line 69, ../../sass/parts/skills.scss */
.skill-item__icon {
  position: absolute;
  font-size: 1.5rem;
}

/* line 73, ../../sass/parts/skills.scss */
.skill-item__intr {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

/* line 77, ../../sass/parts/skills.scss */
.skill-item__bar {
  position: relative;
  padding-left: 0.3125rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 82, ../../sass/parts/skills.scss */
.skill-item__bar::after {
  content: attr(data-rate) "%";
  position: absolute;
  right: 0.625rem;
}

/* line 88, ../../sass/parts/skills.scss */
.skill-item__desc {
  font-size: 80%;
  margin: 0.3125rem 0 0;
}

@media (min-width: 600px) {
  /* line 94, ../../sass/parts/skills.scss */
  .skillset__show {
    display: table;
    /* 调教webkit*/
    word-spacing: -1em;
  }

  /* line 97, ../../sass/parts/skills.scss */
  .skill-item {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    word-spacing: 0;
  }
}
