@charset "UTF-8";
/* Global Var */
/* Header Var */
/* Skillset Var */
/* Experience Var */
/* Introduction Var */
/* Footer Var */
/* line 4, ../sass/global.scss */
html {
  font-size: 16px;
}

/* line 5, ../sass/global.scss */
body {
  margin: 0;
  color: #fefcfc;
  background-color: #FCFAF2;
}

/* line 10, ../sass/global.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/global.scss */
.header,
.skillset,
.exper,
.intro {
  margin-bottom: 0.0625rem;
}

/* line 17, ../sass/global.scss */
.header,
.skillset,
.exper,
.intro,
.footer {
  background-color: #787D7B;
}

/* line 3, ../sass/parts/header.scss */
.header {
  transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* line 5, ../sass/parts/header.scss */
.header:hover, .header:active {
  background: #4bbcff;
}
/* line 9, ../sass/parts/header.scss */
.header:hover .profile, .header:active .profile {
  background-image: linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.2) 35%, rgba(255, 255, 255, 0.2) 50%, #006284 50%, #006284 60%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

/* line 17, ../sass/parts/header.scss */
.profile {
  overflow: hidden;
  background-image: linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.2) 35%, rgba(255, 255, 255, 0.2) 50%, #4f4f48 50%, #4f4f48 60%, rgba(255, 255, 255, 0.2) 60%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-repeat: no-repeat;
  background-size: 28.125rem 100%;
}

/* line 26, ../sass/parts/header.scss */
.profile-avatar {
  display: inline-block;
  width: 8.75rem;
  height: 8.75rem;
  margin: 3.125rem 1.5625rem 1.875rem 6.25rem;
  border-radius: 4.375rem;
  vertical-align: middle;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.95, -0.39, 0, 1.45);
}
/* line 35, ../sass/parts/header.scss */
.profile-avatar:hover, .profile-avatar:active {
  transform: scale(1.3);
}

/* line 40, ../sass/parts/header.scss */
.profile-avatar__photo {
  width: 100%;
}

/* line 44, ../sass/parts/header.scss */
.profile-info {
  display: inline-block;
  margin: 3.125rem 0 1.875rem;
  vertical-align: middle;
  overflow: hidden;
}

/* line 50, ../sass/parts/header.scss */
.profile-info__name,
.profile-info__title {
  margin: 0.5rem 0;
}

/* line 54, ../sass/parts/header.scss */
.profile-info__name {
  font-size: 200%;
  line-height: 1.1;
  letter-spacing: 0.3125rem;
}

/* line 59, ../sass/parts/header.scss */
.profile-info__title {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 0.125rem;
}

/* line 65, ../sass/parts/header.scss */
.profile-info__graduate-info,
.profile-info__contact-way,
.profile-info__website,
.profile-info__work-for,
.profile-info__website-link {
  margin: 0.25rem 0;
  font-size: 90%;
  color: #373C38;
}

/* line 74, ../sass/parts/header.scss */
.profile-info__website-link {
  text-decoration: none;
}
/* line 75, ../sass/parts/header.scss */
.profile-info__website-link:link {
  color: #373C38;
}
/* line 76, ../sass/parts/header.scss */
.profile-info__website-link:visited {
  color: #373C38;
}
/* line 77, ../sass/parts/header.scss */
.profile-info__website-link:hover {
  color: #fefcfc;
  text-decoration: underline;
}
/* line 78, ../sass/parts/header.scss */
.profile-info__website-link:active {
  color: #373C38;
}

@media (max-width: 600px) {
  /* line 83, ../sass/parts/header.scss */
  .profile {
    background-size: 37.5rem 100%;
  }

  /* line 86, ../sass/parts/header.scss */
  .profile-avatar,
  .profile-info {
    display: block;
  }

  /* line 90, ../sass/parts/header.scss */
  .profile-avatar {
    margin: 3.125rem auto 0;
  }

  /* line 93, ../sass/parts/header.scss */
  .profile-info {
    margin: 1.875rem auto;
    text-align: center;
  }
}
/* line 3, ../sass/parts/skills.scss */
.i-empty {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 12, ../sass/parts/skills.scss */
.i-empty::before {
  content: "∅";
}

/* line 17, ../sass/parts/skills.scss */
.skillset {
  overflow: auto;
  transition: background-color .5s ease;
}
/* line 20, ../sass/parts/skills.scss */
.skillset:hover, .skillset:active {
  background-color: #47aaff;
}
/* line 24, ../sass/parts/skills.scss */
.skillset:hover .skillset__header, .skillset:active .skillset__header {
  font-size: 120%;
}

/* line 29, ../sass/parts/skills.scss */
.skillset__header {
  margin: 2rem 0;
  padding: 0 2.5rem;
  transition: font-size .5s ease;
}

/* line 34, ../sass/parts/skills.scss */
.skillset__title,
.skillset__desc {
  margin: 0;
}

/* line 38, ../sass/parts/skills.scss */
.skillset__title {
  font-size: 180%;
}

/* line 41, ../sass/parts/skills.scss */
.skillset__desc {
  font-size: 80%;
}

/* line 45, ../sass/parts/skills.scss */
.skill-item {
  margin-bottom: 1rem;
  padding: 0 0.625rem 0 2.5rem;
  transition: color .5s ease;
  cursor: pointer;
}
/* line 50, ../sass/parts/skills.scss */
.skill-item:hover, .skill-item:active {
  color: #020300;
}
/* line 54, ../sass/parts/skills.scss */
.skill-item:hover .skill-item__bar, .skill-item:active .skill-item__bar {
  background-color: rgba(0, 0, 0, 0.3);
  background-position: 100% 0%;
  background-size: 200%;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 0.9375rem, transparent 0, transparent 1.875rem);
  animation: moveline 3s linear infinite;
}

@keyframes moveline {
  to {
    background-position: 0% 0%;
  }
}
/* line 69, ../sass/parts/skills.scss */
.skill-item__icon {
  position: absolute;
  font-size: 1.5rem;
}

/* line 73, ../sass/parts/skills.scss */
.skill-item__intr {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

/* line 77, ../sass/parts/skills.scss */
.skill-item__bar {
  position: relative;
  padding-left: 0.3125rem;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 82, ../sass/parts/skills.scss */
.skill-item__bar::after {
  content: attr(data-rate) "%";
  position: absolute;
  right: 0.625rem;
}

/* line 88, ../sass/parts/skills.scss */
.skill-item__desc {
  font-size: 80%;
  margin: 0.3125rem 0 0;
}

@media (min-width: 600px) {
  /* line 94, ../sass/parts/skills.scss */
  .skillset__show {
    display: table;
    /* 调教webkit*/
    word-spacing: -1em;
  }

  /* line 97, ../sass/parts/skills.scss */
  .skill-item {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    word-spacing: 0;
  }
}
/* line 4, ../sass/parts/experiences.scss */
.exper {
  overflow: hidden;
  padding: 0 2.5rem;
  transition: background-color .2s, color .5s;
}
/* line 8, ../sass/parts/experiences.scss */
.exper:hover, .exper:active {
  background-color: #7DB9DE;
  color: #336774;
}

/* line 14, ../sass/parts/experiences.scss */
.exper__header {
  margin: 2rem 0;
}

/* line 17, ../sass/parts/experiences.scss */
.exper__title {
  font-size: 180%;
  margin: 0;
  color: #fefcfc;
}

/* line 23, ../sass/parts/experiences.scss */
.exper-item__wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 1% 5%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: color .5s;
  overflow: hidden;
  cursor: pointer;
}
/* line 33, ../sass/parts/experiences.scss */
.exper-item__wrapper::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: background-color .5s;
}
/* line 43, ../sass/parts/experiences.scss */
.exper-item__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: -10rem;
  bottom: 0;
  width: 10rem;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform: skewx(-25deg);
}
/* line 53, ../sass/parts/experiences.scss */
.exper-item__wrapper:hover::after {
  transition: left 1s;
  left: 100%;
}
/* line 57, ../sass/parts/experiences.scss */
.exper-item__wrapper:hover::before {
  background-color: #020300;
}

/* line 61, ../sass/parts/experiences.scss */
.exper-item:hover .exper-item__wrapper,
.exper-item:active .exper_item__wrapper {
  color: #020300;
}

/* line 65, ../sass/parts/experiences.scss */
.exper-item__title {
  margin: 1.5rem 0 0.5rem;
}

/* line 68, ../sass/parts/experiences.scss */
.exper-item__name {
  font-size: 150%;
  margin-right: 0.3125rem;
}

/* line 72, ../sass/parts/experiences.scss */
.exper-item__type {
  font-size: 70%;
}

/* line 75, ../sass/parts/experiences.scss */
.exper-item__desc {
  padding-left: 2rem;
  margin-top: 0.5rem;
}

@media (min-width: 600px) {
  /* line 80, ../sass/parts/experiences.scss */
  .exper__show {
    display: table;
    /* 调教webkit*/
    word-spacing: -1em;
  }

  /* line 83, ../sass/parts/experiences.scss */
  .exper-item {
    display: inline-block;
    width: 48%;
    margin: 0 1% 1%;
    vertical-align: top;
    word-spacing: 0;
  }
}
/* line 4, ../sass/parts/intros.scss */
.intro {
  overflow: hidden;
  padding: 0 2.5rem;
  color: #fefcfc;
  transition: background-color .5s;
}
/* line 9, ../sass/parts/intros.scss */
.intro:hover, .intro:active {
  background-color: #51A8DD;
}

/* line 14, ../sass/parts/intros.scss */
.intro__title {
  font-size: 180%;
}

/* line 18, ../sass/parts/intros.scss */
.intro__detail {
  position: relative;
  padding-left: 4.5rem;
  line-height: 1.5;
}
/* line 22, ../sass/parts/intros.scss */
.intro__detail::before {
  position: absolute;
  left: 1rem;
  font-family: 'FontAwesome';
  line-height: 1.1;
  content: "\f10d";
  font-size: 1.5rem;
}

/* line 3, ../sass/parts/footer.scss */
.footer {
  color: #303030;
  padding: 3rem;
  text-align: center;
}
/* line 8, ../sass/parts/footer.scss */
.footer:hover, .footer:active {
  background-color: #4bbcff;
}
