/* Global Var */
/* Header Var */
/* Skillset Var */
/* Experience Var */
/* line 3, ../sass/global.scss */
html {
  font-size: 16px;
}

/* line 4, ../sass/global.scss */
body {
  margin: 0;
  color: #fcfdff;
  background-color: #787D7B;
}

/* line 9, ../sass/global.scss */
* {
  box-sizing: border-box;
}
