/* line 1, ../sass/intro.scss */
.intro {
  overflow: hidden;
  padding: 0 2.5rem;
  background-color: #0D0D0D;
  color: #fcfdff;
  font-size: 150%;
}

/* line 9, ../sass/intro.scss */
.intro__detail {
  position: relative;
  padding-left: 7.5rem;
  line-height: 1.5;
}
/* line 13, ../sass/intro.scss */
.intro__detail::before {
  position: absolute;
  left: 1rem;
  font-family: 'FontAwesome';
  line-height: 1.1;
  content: "\f10d";
  font-size: 4.5rem;
}
