/* Global Var */
/* Header Var */
/* Skillset Var */
/* Experience Var */
/* line 3, ../sass/intros.scss */
.intro {
  overflow: hidden;
  padding: 0 2.5rem;
  background-color: #0D0D0D;
  color: #fefcfc;
}

/* line 9, ../sass/intros.scss */
.intro__title {
  font-size: 180%;
}

/* line 13, ../sass/intros.scss */
.intro__detail {
  position: relative;
  padding-left: 4.5rem;
  line-height: 1.5;
}
/* line 17, ../sass/intros.scss */
.intro__detail::before {
  position: absolute;
  left: 1rem;
  font-family: 'FontAwesome';
  line-height: 1.1;
  content: "\f10d";
  font-size: 1.5rem;
}
