<div class="contact">
    <form action="mailto:{{baseInfo.email}}" enctype="text/plain">
        <div class="contact__fill-item">
            <label class="contact__label" for="name">名字: </label>
            <input type="text" class="contact__sender" name="name">
        </div>
        <div class="contact__fill-item">
            <label class="contact__label" for="subject">标题: </label>
            <input type="text" class="contact__subject" name="subject">
        </div>
        <div class="contact__fill-item">
            <label class="contact__label contact__label_message" for="message">内容: </label>
            <textarea name="message" cols="30" rows="10" class="contact__message"></textarea>
        </div>
        <input type="submit" class="contact__submit" value="SUBMIT">
    </form>
</div>