<header class="header">
    <div class="profile">
        <div class="profile-avatar"><img class="profile-avatar__photo" src="{{baseInfo.photo}}"/></div>
        <div class="profile-info">
            <p class="profile-info__basic">
                <span class="profile-info__name">{{baseInfo.name}}</span>
                <span class="profile-info__title">{{baseInfo.title}}</span>
            </p>
            <p class="profile-info__contact-way">
                电话: <span class="profile-info__telephone" title="{{baseInfo.telephone}}">{{baseInfo.telephone.slice(0, 6) + '*****'}}</span> |
                邮箱: <span class="profile-info__email" title="{{baseInfo.email}}">
                    {{baseInfo.email.slice(0, 3) + '******' + baseInfo.email.slice(9)}}
                </span>
            </p>
            <p class="profile-info__graduate-info">
                院校: <span class="profile-info__graduate-from">{{baseInfo.graduateFrom}}</span> |
                学位: <span class="profile-info__graduate-degree">{{baseInfo.degree}}</span>
            </p>
            <p class="profile-info__website">网址: <a title="个人网址" class="profile-info__website-link" href="{{baseInfo.website}}">{{baseInfo.website}}</a></p>
            <p class="profile-info__work-for">目前就职于: 
                {{each workFor as val index}}
                <span>{{val}}</span>
                {{/each}}
            </p>
        </div>
    </div>
</header>